/*** Variables ***/

:root {
    /*** L/N ***/
--grupo-1: #45D;
--ichika: #3AE;
--saki: #FD4;
--honami: #E66;
--shiho: #BD2;
    /*** MMJ ***/
--grupo-2: #6CCB20;
--minori: #FFCDAC;
--haruka: #99CDFF;
--airi: #FFA9CC;
--shizuku: #9AEEDE;
    /*** VBS ***/
--grupo-3: #E16;
--kohane: #FF679A;
--an: #00BBDC;
--akito: #FF7721;
--toya: #07D;
    /*** WxS ***/
--grupo-4: #F90;
--tsukasa: #FB0;
--emu: #FF66BC;
--nene: #34DD9A;
--rui: #BB88ED;
    /*** N25 ***/
--grupo-5: #849;
--kanade: #BB6588;
--mafuyu: #8889CC;
--ena: #CCAA87;
--mizuki: #E4A8CA;
    /*** VSs  ***/
--miku: #33CCBA;
--rin: #FC1;
--len: #FFEE12;
--luka: #FFBACC;
--meiko: #DE4444;
--kaito: #3367CD;

--cooltipz-text-color: #0C0C0C !important;
}

/**************************/

/****** Colores con variables ******/

/** LEO/NEED  */

[data-color='grupo-1'] {
    color: var(--grupo-1)
}

[data-color='bg-grupo-1'] {
    background: var(--grupo-1);
}

[data-color='border-grupo-1'] {
    border-color: var(--grupo-1)
}

[data-color='ichika'] {
    color: var(--ichika)
}

[data-color='tt-ichika'] {
    --cooltipz-bg-color: var(--ichika);
    --cooltipz-border-color: var(--ichika);
}

[data-color='border-ichika'] {
    border-color: var(--ichika)
}

[data-color='saki'] {
    color: var(--saki)
}

[data-color='tt-saki'] {
    --cooltipz-bg-color: var(--saki);
    --cooltipz-border-color: var(--saki);
}

[data-color='border-saki'] {
    border-color: var(--saki)
}

[data-color='honami'] {
    color: var(--honami)
}

[data-color='tt-honami'] {
    --cooltipz-bg-color: var(--honami);
    --cooltipz-border-color: var(--honami);
}

[data-color='border-honami'] {
    border-color: var(--honami)
}

[data-color='shiho'] {
    color: var(--shiho)
}

[data-color='tt-shiho'] {
    --cooltipz-bg-color: var(--shiho);
    --cooltipz-border-color: var(--shiho);
}

[data-color='border-shiho'] {
    border-color: var(--shiho)
}

/** MORE MORE JUMP!  */

[data-color='grupo-2'] {
    color: var(--grupo-2)
}

[data-color='bg-grupo-2'] {
    background: var(--grupo-2);
}

[data-color='border-grupo-2'] {
    border-color: var(--grupo-2)
}

[data-color='minori'] {
    color: var(--minori)
}

[data-color='tt-minori'] {
    --cooltipz-bg-color: var(--minori);
    --cooltipz-border-color: var(--minori);
}

[data-color='border-minori'] {
    border-color: var(--minori)
}

[data-color='haruka'] {
    color: var(--haruka)
}

[data-color='tt-haruka'] {
    --cooltipz-bg-color: var(--haruka);
    --cooltipz-border-color: var(--haruka);
}

[data-color='border-haruka'] {
    border-color: var(--haruka)
}

[data-color='airi'] {
    color: var(--airi)
}

[data-color='tt-airi'] {
    --cooltipz-bg-color: var(--airi);
    --cooltipz-border-color: var(--airi);
}

[data-color='border-airi'] {
    border-color: var(--airi)
}

[data-color='shizuku'] {
    color: var(--shizuku)
}

[data-color='tt-shizuku'] {
    --cooltipz-bg-color: var(--shizuku);
    --cooltipz-border-color: var(--shizuku);
}

[data-color='border-shizuku'] {
    border-color: var(--shizuku)
}

/** VIVID BAD SQUAD  */

[data-color='grupo-3'] {
    color: var(--grupo-3)
}

[data-color='bg-grupo-3'] {
    background: var(--grupo-3);
}

[data-color='border-grupo-3'] {
    border-color: var(--grupo-3)
}

[data-color='kohane'] {
    color: var(--kohane)
}

[data-color='tt-kohane'] {
    --cooltipz-bg-color: var(--kohane);
    --cooltipz-border-color: var(--kohane);
}

[data-color='border-kohane'] {
    border-color: var(--kohane)
}

[data-color='an'] {
    color: var(--an)
}

[data-color='tt-an'] {
    --cooltipz-bg-color: var(--an);
    --cooltipz-border-color: var(--an);
}

[data-color='border-an'] {
    border-color: var(--an)
}

[data-color='akito'] {
    color: var(--akito)
}

[data-color='tt-akito'] {
    --cooltipz-bg-color: var(--akito);
    --cooltipz-border-color: var(--akito);
}

[data-color='border-akito'] {
    border-color: var(--akito)
}

[data-color='toya'] {
    color: var(--toya)
}

[data-color='tt-toya'] {
    --cooltipz-bg-color: var(--toya);
    --cooltipz-border-color: var(--toya);
}

[data-color='border-toya'] {
    border-color: var(--toya)
}

/** WONDERLANDS X SHOWTIME  */

[data-color='grupo-4'] {
    color: var(--grupo-4)
}

[data-color='bg-grupo-4'] {
    background: var(--grupo-4);
}

[data-color='border-grupo-4'] {
    border-color: var(--grupo-4)
}

[data-color='tsukasa'] {
    color: var(--tsukasa)
}

[data-color='tt-tsukasa'] {
    --cooltipz-bg-color: var(--tsukasa);
    --cooltipz-border-color: var(--tsukasa);
}

[data-color='border-tsukasa'] {
    border-color: var(--tsukasa)
}

[data-color='emu'] {
    color: var(--emu)
}

[data-color='tt-emu'] {
    --cooltipz-bg-color: var(--emu);
    --cooltipz-border-color: var(--emu);
}

[data-color='border-emu'] {
    border-color: var(--emu)
}

[data-color='nene'] {
    color: var(--nene)
}

[data-color='tt-nene'] {
    --cooltipz-bg-color: var(--nene);
    --cooltipz-border-color: var(--nene);
}

[data-color='border-nene'] {
    border-color: var(--nene)
}

[data-color='rui'] {
    color: var(--rui)
}

[data-color='tt-rui'] {
    --cooltipz-bg-color: var(--rui);
    --cooltipz-border-color: var(--rui);
}

[data-color='border-rui'] {
    border-color: var(--rui)
}

/** NIGHTCORD AT 25:00  */

[data-color='grupo-5'] {
    color: var(--grupo-5)
}

[data-color='bg-grupo-5'] {
    background: var(--grupo-5);
}

[data-color='border-grupo-5'] {
    border-color: var(--grupo-5)
}

[data-color='kanade'] {
    color: var(--kanade)
}

[data-color='tt-kanade'] {
    --cooltipz-bg-color: var(--kanade);
    --cooltipz-border-color: var(--kanade);
}

[data-color='border-kanade'] {
    border-color: var(--kanade)
}

[data-color='mafuyu'] {
    color: var(--mafuyu)
}

[data-color='tt-mafuyu'] {
    --cooltipz-bg-color: var(--mafuyu);
    --cooltipz-border-color: var(--mafuyu);
}

[data-color='border-mafuyu'] {
    border-color: var(--mafuyu)
}

[data-color='ena'] {
    color: var(--ena)
}

[data-color='tt-ena'] {
    --cooltipz-bg-color: var(--ena);
    --cooltipz-border-color: var(--ena);
}

[data-color='border-ena'] {
    border-color: var(--ena)
}

[data-color='mizuki'] {
    color: var(--mizuki)
}

[data-color='tt-mizuki'] {
    --cooltipz-bg-color: var(--mizuki);
    --cooltipz-border-color: var(--mizuki);
}

[data-color='border-mizuki'] {
    border-color: var(--mizuki)
}

/** VIRTUAL SINGERS  */

[data-color='miku'] {
    color: var(--miku)
}

[data-color='rin'] {
    color: var(--rin)
}

[data-color='len'] {
    color: var(--len)
}

[data-color='luka'] {
    color: var(--luka)
}
[data-color='meiko'] {
    color: var(--meiko)
}

[data-color='kaito'] {
    color: var(--kaito)
}

/********* FULLCALENDAR */

/*? LN */

.fc-cumple-ichika {
    background-color: var(--ichika) !important;
}

.fc-cumple-saki {
    background-color: var(--saki) !important;
}

.fc-cumple-honami {
    background-color: var(--honami) !important;
}

.fc-cumple-shiho {
    background-color: var(--shiho) !important;
}

/*? MMJ */

.fc-cumple-minori {
    background-color: var(--minori) !important;
}

.fc-cumple-haruka {
    background-color: var(--haruka) !important;
}

.fc-cumple-airi {
    background-color: var(--airi) !important;
}

.fc-cumple-shizuku {
    background-color: var(--shizuku) !important;
}

/*? VBS */

.fc-cumple-kohane {
    background-color: var(--kohane) !important;
}

.fc-cumple-an {
    background-color: var(--an) !important;
}

.fc-cumple-akito {
    background-color: var(--akito) !important;
}

.fc-cumple-toya {
    background-color: var(--toya) !important;
}

/*? WXS */

.fc-cumple-tsukasa {
    background-color: var(--tsukasa) !important;
}

.fc-cumple-emu {
    background-color: var(--emu) !important;
}

.fc-cumple-nene {
    background-color: var(--nene) !important;
}

.fc-cumple-rui {
    background-color: var(--rui) !important;
}

/*? N25 */

.fc-cumple-kanade {
    background-color: var(--kanade) !important;
}

.fc-cumple-mafuyu {
    background-color: var(--mafuyu) !important;
}

.fc-cumple-ena {
    background-color: var(--ena) !important;
}

.fc-cumple-mizuki {
    background-color: var(--mizuki) !important;
}
