@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Source+Sans+Pro&display=swap');

a {
    color: white;
    box-sizing: border-box;
    text-decoration-line: none;
}

h3 {
    color: white;
    font-family: 'Fredoka One', sans-serif;
    text-align: center;
}

.header {
    background: linear-gradient(90deg, #3AA89B 0%, #9D44FF 100%);
}

#logo {
    height: 35px;
    animation: logo-progresivo 2s;
}

@keyframes logo-progresivo {
    0% {
        filter: opacity(0);
    }

    100% {
        filter: opacity(1);
    }
}


.dropdown-item:focus, .dropdown-item:hover {
    background-color: #ffffff30 !important; /*Sobreescribe bootstrap*/
}

.login {
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.18);
}

.noborder {
    border: none !important;
}

/********************* MODAL  *********************/

.flexbox-cerrar {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5em;
}

.boton-cerrar {
    background-color: #b83131;
    padding: 0 0.5em 0 0.5em;
    border-radius: 10px;
    border: none;
}

        /****** Contenido Modal ******/

#modal-personajes .caja {
    background-image: none;
}

.modal-personajes-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    transition: all .4s;
    overflow: auto;
}

.modal-personajes-content:target {
    visibility: visible;
    opacity: 1;
  }


/***********************************************/

.caja {
    background-color: rgba(0, 0, 0, 0.38);
    border: solid 1px transparent;
    border-radius: 20px;
    background-image: linear-gradient(#0d071d, #09021b),
    linear-gradient(180deg, #EC64F5 0%, #4DF6C6 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12.5px);
    display: flex;
    flex-direction: column;
}

.caja-content {
    margin: 0.5em 0.5em 0em 0.5em;
    display: flex;
    flex-direction: column;
    text-align: initial;
}

.caja-content span {
    margin-bottom: 0.5em;
}

/********************* INDEX  *********************/

main {
    color: white;
    padding: 1em;
}

body {
    background: url("../img/background.png") round fixed;
    background-size: contain;
}

@media only screen and (max-width:576px) {
    body {
        background-size: cover;
    }
}


nav {
    font-family: 'Source Sans Pro', sans-serif;
}

/*
Antiguo fondo pre-vídeo
 .home {
    background: url("../img/bg-pc.png") center no-repeat;
    background-size: cover;
}

@media only screen and (max-width:991px) {
    .home {
        background: url("../img/bg-movil.png") right;
    }

    main {
        background-image: none;
    }
} */

#bg-video {
    filter: opacity(0.3);
    position: absolute;
    z-index: 0;
    -webkit-mask-image: -webkit-gradient(linear, left 80%, left bottom, from(rgb(0, 0, 0)),
    to(rgba(0,0,0,0)))

}

.overlay {
    position: relative;
    z-index: 2;
}

#logo-index {
    height: 70px;
}

.logo-asset {
    height: 200px;
}

h1 {
    font-family: 'Fredoka One', sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 3px transparent;
}

#gacha-actual h1,
.texto h1 {
    background: linear-gradient(180deg, #3AA89B 0%, #4254F5 100%);
    -webkit-background-clip: text;
}

#evento-actual h1 {
    background: linear-gradient(180deg, #EC64F5 0%, #A022A8 100%);
    -webkit-background-clip: text;
}

.footer {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    bottom: 0;
    padding: 0 10%;
    position: fixed;
}

/* Fondo para iconos */
.fa-circle {
    opacity: 0.1;
}

.centro {
    text-align: center;
}

.brillo:hover {
    filter: drop-shadow(0 0 0.5em white);
    transition: all 0.5s;
}

