@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Source+Sans+Pro&display=swap');

/**************************/

h2 {
    font-family: 'Fredoka One', sans-serif;
    font-weight: 400;
    text-align: center;
    /* ? Para que el degradado se vea bien */
    display: inline;
}

.header {
    background: linear-gradient(90deg, #3AA89B 0%, #9D44FF 100%);
}

#logo {
    height: 35px;
    animation: logo-progresivo 2s;
}

@keyframes logo-progresivo {
    0% {
        filter: opacity(0);
    }

    100% {
        filter: opacity(1);
    }
}

.noborder {
    border: none !important;
}

/********************* MODAL  *********************/

.flexbox-cerrar {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5em;
}

.boton-cerrar {
    background-color: #b83131;
    padding: 0 0.5em 0 0.5em;
    border-radius: 10px;
    border: none;
    color: white;
}

        /****** Contenido Modal ******/

#modal-personajes .caja {
    background-image: none;
}

.modal-personajes-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    transition: all .4s;
    overflow: auto;
}

.modal-personajes-content:target {
    visibility: visible;
    opacity: 1;
  }


/***********************************************/

.opcion {
    padding: 0.25em;
    color: white;
    text-align: center;
    font-size: medium;
    background: #2F2957;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border: solid 1px transparent;
    background-image: linear-gradient(#2F2957, #2F2957),
        linear-gradient(180deg, #EC64F5 0%, #4DF6C6 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.caja {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12.5px);
    background-color: rgba(0, 0, 0, 0.38);
    border: solid 1px transparent;
    border-radius: 20px;
    background-image: linear-gradient(#0d071d, #09021b),
    linear-gradient(180deg, #EC64F5 0%, #4DF6C6 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.container .caja {
    display: flex;
    flex-direction: column;
}

.caja-content {
    padding: 1em;
    display: flex;
    flex-direction: column;
    text-align: initial;
}


.caja-content span {
    margin-bottom: 0.5em;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #ffffff30 !important; /*Sobreescribe bootstrap*/
}

.header-avatar {
    border-radius: 20px;
    border: solid 2px rgba(255, 255, 255, 0.5);
}

.navbar-text a {
    text-decoration: none;
}

/********************* PERSONAJE (Mizuki)  *********************/
* {
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background: url("../img/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    text-align: center;
    padding: 1em;
    color: white;
}

.centrar-fila {
    justify-content: center;
    gap: 3%;
}

.vacio {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

.text-right {
    text-align: end;
}

.text-left {
    text-align: start;
}

.panel-nav {
    margin: 0.5em;
    padding: 1.5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12.5px);
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: solid 1px;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.36) 0%, rgba(0, 0, 0, 0.32) 100%);
}

.scroll-y {
    overflow-y: scroll;
}

.caja-scroll {
    height: 300px;
}

#personaje {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: initial;
}

.panel {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.36) 0%, rgba(0, 0, 0, 0.32) 100%);
    border: 1px solid;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12.5px);
    border-radius: 20px;
}

#personaje .caja {
    background: linear-gradient(115.51deg, rgba(0, 0, 0, 0.29) 0%, rgba(0, 0, 0, 0.46) 100%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12.5px);
}

.espacio {
    margin: 10px 0 10px 0;
}

.tabs {
    display: flex;
    justify-content: center;
}

.tab {
    background: #2F2957;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12.5px);
    border: solid 1px transparent;
    background-image: linear-gradient(#2F2957, #2F2957),
    linear-gradient(180deg, #4DF6C6 0%, #EC64F5 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    padding: 5px 15px 5px 15px;
}

.tab:nth-child(odd) {
    border-radius: 0 0 0 20px;
}

.tab:nth-child(even) {
    border-radius: 0 0 20px 0;
}

.click {
    cursor: pointer;
}

i {
    color: white;
}

.cuadrado {
    border-radius: 0px;
}

.brillo:hover {
    filter: drop-shadow(0 0 0.5em white);
    transition: all 0.5s;
}


/** Carrusel */

.comic-container {
    backdrop-filter: blur(0);
}

@media only screen and (min-width:768px) {
    .comic-container {
        height: 300px;
        width: 404px;
    }
}

@media only screen and (max-width:768px) {
    .comic-container {
        height: 200px;
        width: 269px;
    }
}

.comic {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.comic.active {
    opacity: 1;
}

.select-personaje {
    transition: transform 0.3s ease-in-out;
}
.select-personaje:hover {
    transform: scale(1.1);
}
